* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    padding-top: 7em;
    font-size: 1.6em;
    color: #F8F8F2;
    font-family: 'Times New Roman', Times, serif;
}

.intro-container {
    color: #1E1E2E;
    text-align: center;
}

.game-container {
    max-width: 40em;
    min-width: 20em;
    border-radius: 2em 1em;
    padding-left: 2em;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 30%;
    height: auto;
    background-color: #1E1E2E;
    margin: 0 auto;
}

.arena {
    margin-top: 2.5em;
    /* border: 2px solid red; */
    padding-top: 1.5em;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.choice-display {
    margin-top: 0.5em;
}
.selection-container button {
    width: 2em;
    height: 2em;
}

.score-display {
    margin-top: -0.5em;
    text-align: center;
}