* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    padding-top: 7em;
    font-size: 1.6em;
    color: #F8F8F2;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

.intro-container {
    color: #1E1E2E;
    text-align: center;
}

.game-container {
    max-width: 28em;
    min-width: 22em;
    border-radius: 2em 1em;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 30%;
    height: auto;
    background-color: #1E1E2E;
    margin: 0 auto;
    padding-bottom: 0.9em;
}

.arena {
    margin-top: 2.5em;
    padding-top: 1.5em;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.choice-display {
    margin-top: 0.5em;
}
.selection-container button {
    margin-right: 0.5em;
    border-radius: 5px;
    width: 2em;
    height: 2em;
}

.player-option {
    font-style: italic;
    font-weight: 650;
}

#rock {
    background-color: #FF6B6B;
}

#paper {
    background-color: #4ECDC4;
}

#scissors {
    background-color: #FFB400;
}
.score-display {
    margin-top: -0.5em;
    text-align: right;
    width: 55%;
}

#winner-display {
    margin-top: 0.5em;
    height: 1.5em;
    width: 4.5em;
    font-weight: bold;
    font-size: 1em;

}

.restart-btn {
    width: 150px;
    height: 30px;
    text-align: center;
    background: #1E1E2E;
    color:#F8F8F2;
    margin: 0.5em  auto 0 auto;
    padding: 0.4em;
    border-radius: 6px;
    font-weight: bold;
    font-size: 15px;
}

.restart-btn:hover {
    background: #FFB347;
    cursor: pointer;
}

#rock:hover,
#paper:hover,
#scissors:hover {
    cursor: pointer;
}

.round-display {
    position: absolute;
    color: #F8F8F2;
    font-weight: bold;
    top: 10.5em;
    left:60em;
}